// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.reset-btn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.your-button {
  &:link,
  &:visited {
    transition: all 0.2s;
  }

  &:focus,
  &:hover {
    box-shadow: 0 1rem 2rem rgba(#fff, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(#fff, 0.15);
    transform: translateY(0);
  }
}
