//  -----------------------------------------------------------------------------
//  This file contains all @font-face declarations, if any.
//  -----------------------------------------------------------------------------

@font-face {
  src: url('') format(woff2), url('') format(woff);
  font-family: '', sans-serif;
  font-weight: 0;
  font-display: swap;
}
