// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  //  This defines what 1rem is
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

  @media only screen and (max-width: 900px) {
    //  width < 900?
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }

  @media only screen and (max-width: 1200px) {
    //  width < 1200?
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 50%
  }

  @media only screen and (min-width: 2000px) {
    // width < 2000?
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }
}

.container {
  max-width: calc(130rem + 5%);
  margin: 0 auto;
  padding: 0 5%;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 1 auto;
}
