// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

h1 {
  font-size: calc(30px + 70 * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(30px + 70 * ((100vw - 320px) / (1920 - 320)));
}

p {
  font-size: calc(12px + 6 * ((100vw - 320px) / (1920 - 320)));
}
