<link rel="icon" href="./favicon.ico" />
<!-- A 32×32px favicon for legacy browsers. It should live in the root of your website. -->
<link rel="icon" href="./favicon.svg" type="image/svg+xml" />
<!-- Most modern browser support SVG favicons. The benefits of the favicon.svg are that it looks better when it’s scaled, because it’s a vector and not raster image, and we can add HTML and CSS to the SVG, which means that we can support dark mode. -->
<!-- The 180×180px icon Apple devices will use if you add the page to your home screen. -->
<meta name="theme-color" content="#283747" />
<!-- theme-color provides browsers with a CSS color to customize the display of the page or of the surrounding user interface -->
<link rel="manifest" href="/manifest.json" />

<!-- Apple -->
<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png" />
<!-- Apple Touch Icon (at least 200x200px) -->
