<!-- <style>
  @font-face {
    font-weight: 400;
    font-family: 'Type your font here';
    font-style: normal;
    src: local('Type your font here'),
      url('../fonts/awesome-l.woff2') format('woff2');
    unicode-range: U+000-5FF; /* Latin glyphs */
    font-display: optional;
  }

  @font-face {
    font-weight: 400;
    font-family: 'Type your font here';
    font-display: optional;
    font-style: normal;
    src: local('Type your font here'),
      url('../fonts/awesome-jp.woff2') format('woff2');
    unicode-range: U+0400-04FF; /* Cyrillic glyphs */
  }

  body {
    font-family: 'Type your font here', -apple-system, Arial, BlinkMacSystemFont,
      roboto slab, droid serif, segoe ui, Ubuntu, Cantarell, Georgia, serif;
  }
</style> -->
