<link rel="canonical" href="https://www.mywebsite.com/page" />
<!-- Use the canonical link element to prevent SEO issues caused by duplicate content by specifying the original source for pages that are available on multiple URLs. -->
<meta name="description" content="My first WebSite" />
<!-- The unique description of the page, for example, displayed on search result pages. It can be any length, but search engines truncate snippets to ~155–160 characters. -->
<meta property="og:title" content="Unique page title - My Site" />
<!-- The unique title of the page. Used by URL scrapers on social media platforms like Twitter or Facebook. -->
<meta property="og:image" content="./og-image.jpg" />
<!-- The image displayed when you share the link to a page on social media, chat applications, or other sites that scrape URLs.
Ideally, it should be a square image with the important content placed in the middle of the square in a rectangle with a 2:1 ratio. This will make sure that the image will look good in cards with rectangle and square shaped images. -->
<meta property="og:image:alt" content="Cat" />
<!-- A description of the image. Don’t use this meta tag if the image is purely decorative and doesn’t provide any meaningful information. Screen readers ignore the image, if we don’t provide alt text. -->
<meta property="og:locale" content="en_GB" />
<!-- An optional Open Graph property, but recommended. It defines the natural language of the page. -->
<meta property="og:type" content="website" />
<!-- The type of content you’re sharing, e.g. website, article, or video.movie. A required property for valid Open Graph pages. -->
<meta property="og:description" content="Page description" />
<!-- The unique description of the page. Used by URL scrapers on social media platforms like Twitter or Facebook. -->
<meta name="twitter:card" content="summary_large_image" />
<!-- This meta tag defines how cards will look when shared on Twitter. There are two options for websites, summary and summary_large_image. -->
<meta property="og:url" content="https://www.mywebsite.com/page" />
<!-- The canonical URL of the page. A required property for valid Open Graph pages. -->
<meta name="format-detection" content="telephone=no">
<!-- Disable automatic detection and formatting of phone numbers -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- To run web application in full-screen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- Has no effect unless you have the previous meta tag -->
